.containerList {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2.5rem;
  background-color: var(--darkGray);
  min-width: 100%;
  height: fit-content;
  border-radius: 0.8rem;
  row-gap: 1.5rem;
  overflow: hidden;
}
.onLight{
  background-color: white;
  color: black;
}
.containerList> div> span {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: var(--mediumGray);
}
.containerList ul {
  list-style: none;
  margin-top: 2rem;
  width: 100%;
}

.containerList ul li {
  padding: 1.2rem 1.5rem 1.2rem 0;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--mediumGray);
  position: relative;
  margin-bottom: 0.5rem;
  z-index: 1;
  cursor: pointer;
}
.containerList ul li > svg {
  margin-right: 1rem;
  fill: var(--mediumGray);
}
.boardActive {
  background-color: var(--darkBlue);
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  color: white !important;
}
.boardActive > svg {
  fill: white !important;
}
.boardActive::before {
  content: '';
  position: absolute;
  background-color: var(--darkBlue);
  width: 100%;
  height: 100%;
  top: 0;
  left: -3rem;
  z-index: -1;
}
.footerMode {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5rem;
  background-color: var(--veryDarkGray);
  width: 100%;
  height: 5.5rem;
  border-radius: 0.8rem;
  column-gap: 2rem;
}
.containerSlider{
  width: 4.5rem;
  height: 2rem;
  background-color: var(--darkBlue);
  border-style: none;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.sliderButton{
  position: absolute;
  top: 0.2rem;
  left: 0.6rem;
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  translate: 0;
  transition: .3s;
}

.footer> button{
  display: none;
}
.showList{
  display: none;
}
.guia~ input:checked~ .containerSlider> span{
  translate: 1.5rem 0;
}
.onLightFooter{
  background-color: var(--veryLightBlue);
}
.hideList{
  display: none;
}