.groupTask {
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  column-gap: 5rem;
  padding: 3rem;
  height: 100%;
  width: 100%;
}

.newColumn {
  scroll-snap-align: center;
  min-height: 100%;
  color: white;
  min-width: 27rem;
  text-transform: capitalize;
  margin-top: 3.5rem;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--mediumGray);
  background: linear-gradient(
    to bottom,
    rgba(121, 132, 147, 0.2),
    rgba(130, 143, 163, 0.1),
    rgba(130, 143, 163, 0)
  );
}
.newColumn:hover {
  color: var(--darkBlue);
}
