.app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 100vh;
  background-color: rebeccapurple;
  /* min-height: 100vh; */
  
  /* background-color: var(--veryDarkGray); */

}
/* @media only screen and (max-width: 320px) {
  .app {
    height: 100%;
  }
} */
/*  */
